<style>
      .center {
        text-align: center;
      }
      ul {
          list-style: none;
          padding: 0;
      }
      img {
          display: inline;
          width: 160px;
          height: 50px;
      }
      #footer {
          margin-left: auto;
          margin-right: auto;
          border-top: solid 2px black;
          background-color: white;
          position: fixed;
          bottom: 0;
          width: 100%;
      }
      html {
          box-sizing: 'border-box'
      }
      #title {
          text-align: center;
          background-color: lightskyblue;
      }
      #subtitle{
          text-align: center;
          height: 20
      }
      #resetButton{
          background-color: lightblue;
          margin-left: auto;
          margin-right: auto;
      }
      #hintButton{
          background-color: lightblue
      }
      #box{
          width: 160px;
          margin-left: auto;
          margin-right: auto;
          background-color: white;
          text-align: center;
          height: 30px;
      }
      #input-parent{
          width: 220px;
          height: 80px;
          margin: 0 auto;
      }
      #menu-btns{
          width: 140px;
          margin-left: auto;
          margin-right: auto;
      }
      .guess{
          border: 1px solid black;
          display: inline ;
          font-size: 30px;
          padding: 0 25px;
          border-radius: 15%;
          background-color: lavender;
          margin-left: auto;
          marging-right: auto;
          
      }
    </style>